<html>
  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/application.css">
    <script type="text/javascript" src="/javascripts/myscript.js"></script>
  </head>
  <body>
    <header>
      <div class="jumbotron">
        <div class="container">
          <h1><i>Pensamentos Traduzidos</i></h1>
          <%= params %>
        </div>
      </div>
    </header>
    <div class="container">

      <%= yield %>
    </div>
    <footer>
      <h5>Contato: lucianocordeiro1991@hotmail.com</h5>
      <small>Powered by Luciano Cesar - All Rights Reserved</small>
    </footer>
  </body>
</html>
