<form action="/login" method="post">
    <p><input id="user_name" name="user[name]" type="text"></p>
    <p><input id="user_password" name="user[password]" type="password"></p>
    <p><input type="submit" value="Login"></p>
</form>
