body {
  text-align: left;
}

ul {
  list-style: none;
  padding-left: 0px;
}

h1 {
  color: blue;
  text-align: center;
}

p {
  text-indent: 45px;
  font-size: 16px;
  text-align: justify;
  text-justify: inter-word;
}

textarea {
  height: 400px;
  width: 800px;
}

i {
  font-size: 13px;
}
